

<nz-table #myTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">{{ column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of myTable.data" >
      <td><img [src]="data.imageURL" width="50px"/></td>
      <td>{{ data.id }}</td>
      <td>{{ data.title }}</td>
      <td>{{ data.price }} $</td>
      <td>{{ data.year }}</td>

      <td >{{ data.genre }}</td>
      <td >{{ data.developer }}</td>


      <td><button type="button" class="btn btn-primary">Edit</button></td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>


    </tr>
  </tbody>
</nz-table>
