<nz-layout class="maxsize">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
   
    <ul nz-menu nzTheme="dark" nzMode="inline">

      <li nz-submenu nzTitle="Orders" >
        <ul>
          <li nz-menu-item [routerLink]="['/admin-panel']">Order list</li>

        </ul>
      </li>
      <li nz-submenu nzTitle="Games">
        <ul>
          <li nz-menu-item  [routerLink]="['/admin-panel/games']">Game list</li>
          <li nz-menu-item [routerLink]="['/admin-panel/add-game']">Add game</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Genres" >
        <ul>
          <li nz-menu-item [routerLink]="['/admin-panel/genres']">Genre list</li>
          <li nz-menu-item [routerLink]="['/admin-panel/add-genre']">Add genre</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Developers" >
        <ul>
          <li nz-menu-item [routerLink]="['/admin-panel/developers']">Developer list</li>
          <li nz-menu-item [routerLink]="['/admin-panel/add-developer']">Add developer</li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>

      </nz-breadcrumb>
      <div class="inner-content">

        <router-outlet></router-outlet>
      </div>
    </nz-content>
    
  </nz-layout>
</nz-layout>
